body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: "Roboto", sans-serif;
  background-color: #fff;
  color: #434455;
  width: 100vw;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 72px;
  width: 80%;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.navigation {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 10px 20px;
  width: 50%;
}
.navigation__logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  text-decoration: none;
  width: 20%;
}
.navigation__logo-2 {
  color: #2e2f42;
}
.navigation__list {
  width: 60%;
  display: flex;
  justify-content: space-between;
}
.navigation__list-item {
  list-style: none;
}
.navigation__list-item__link {
  font-weight: 500;
  text-decoration: none;
  color: #2e2f42;
}

.contact {
  display: flex;
  width: 25%;
  justify-content: center;
  align-items: center;
}
.contact__list {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.contact__list-item {
  list-style: none;
}
.contact__list-item_link {
  font-weight: 400;
  text-decoration: none;
  color: #434455;
}

.announce {
  height: 600px;
  width: 100%;
  background-color: #2E2F42;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.announce-title {
  font-size: 50px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #fff;
}
.announce-button {
  background-color: #4D5AE5;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  cursor: pointer;
  border: none;
  padding: 16px 32px;
}
.announce-button:hover {
  background-color: #404bbf;
}
.announce-button:focus {
  background-color: #404bbf;
}

.mission {
  display: flex;
  flex-direction: column;
  width: 80%;
}
.mission__title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: center;
}
.mission__list {
  display: flex;
  justify-content: space-between;
}
.mission__list-item {
  list-style: none;
}
.mission__list-item__title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.mission__list-item__description {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.team {
  width: 80%;
}
.team__title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}
.team__list {
  display: flex;
  justify-content: center;
  align-items: center;
}
.team__list-item {
  list-style: none;
}
.team__list-item__img {
  width: 264px;
  height: 200px;
}
.team__list-item__title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: center;
}
.team__list-item__job {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  text-align: center;
}

.portfolio {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.portfolio__title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}
.portfolio__list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 80%;
}
.portfolio__list-item {
  display: flex;
  justify-content: center;
  flex-direction: column;
  list-style: none;
  width: 33%;
}
.portfolio__list-item__img {
  width: 360px;
  height: 300px;
}
.portfolio__list-item__title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.portfolio__list-item__description {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.footer {
  display: flex;
  flex-direction: column;
  height: 312px;
  background-color: #2e2f42;
  justify-content: center;
}
.footer__logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  text-decoration: none;
  width: 264px;
  margin-left: 10%;
}
.footer__logo-2 {
  color: #f4f4fd;
}
.footer__description {
  width: 264px;
  line-height: 1.5;
  color: #F4F4FD;
  letter-spacing: 0.02em;
  margin-left: 10%;
}

/*# sourceMappingURL=styles.css.map */
