$white-1: #e7e9fc;

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    display: block;
}

.header {
    border-bottom: 1px solid #e7e9fc;

}

.container{
    display: flex;
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
}

.navigation {
    display: flex;
    align-items: center; 

    &__logo{
        margin-right: 76px;
    }

    &__list {
        display: flex; 
        gap: 40px;

        &-item {

            &__link{
                padding: 24px 0;
            }
        }
    }
}


.contact{
    &__list{
        display: flex;
        gap: 40px;
    }
}

.announce {
    padding: 188px 0;
    
    &-title {
        max-width: 496px;
    }

    &-button{
        display: block;
        min-width: 169px;
        height: 56px;
        border: none;
        background-color: #4d5ae5;
        border-radius: 4px;
        cursor: pointer;
    }
}


.portfolio {
    padding: 120px 0;

    &__title {
        margin-bottom: 72px;
    }
    &__list {
        display: flex;
        flex-wrap: wrap;
        column-gap: 24px;
        row-gap: 48px;

        &-item{

            &__img {
                width: calc((100% - 48px) / 3);
            }

            &__title{
                margin-bottom: 8px;
            }
        }
    }

    &-container {
        padding: 32px 16px;
        border: 1px solid #e7e9fc;
        border-top: none;
    }
}



.footer {
    padding: 100px 0;

    &__logo {
        display: inline-block;
        margin-bottom: 16px;
    }

    &__description {
        max-width: 264px;
    }
}